:root{
    --primary-color: #000000;
    --white-color: #ffffff;
    --pink-color: #ff00eaf8;
    --gray-light-color: #dbdada;
    --crimson-color: crimson;
    --gap: 3rem;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/*font-family: 'Montserrat', sans-serif;
font-family: ;'Open Sans', sans-serif;
font-family: 'Alfa Slab One', cursive;
font-family: 'PT Serif', serif;*/

body{
    font-family:'Open Sans', sans-serif ;
    font-size: 2rem;  
    line-height: 1.5;  
}
a{
    text-decoration: none;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 6rem;
    text-transform: uppercase;
}

h2{
    font-family:'Times New Roman', Times, serif;
    font-size: 8rem;
    margin-top: 8rem;
    text-transform: uppercase;
    line-height: 1.2;
}

h3{
    font-family: 'PT Serif', serif;
    font-size: 3rem;
}

i{
    margin-bottom: 4rem;
}

p{
    margin-bottom: 3rem;
}

.main-bg{
    background-image: url('../img/fundo2.svg');
    background-position: center center;
    background-size: auto;
    color: var(--primary-color);
}

.white-bg{
    background: var(--white-color); 
}

.main-content{
    max-width: 120rem;
    margin: 0 auto;
    padding: 10rem var(--gap);
}

.section{
    min-height: 100vh;
}

.menu{
    background: var(--primary-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 2;
    border-bottom: 0.15rem solid var(--gray-light-color);
}

.menu-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    height: 5.5rem;
    
}

.menu h1 img{
    align-items: left;
    width: 30rem;
    height: 4.5rem;
}

.menu ul{
    list-style: none;
    display: flex;
}

.menu ul li a{
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    font-family:'Open Sans', sans-serif;
    color: var(--white-color);
    position: relative;
}

.menu ul li a::after{
    content: '';
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: var(--crimson-color);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after{
    width: 50%;
    left: 25%;
}

.menu-spacing{
    height: 5.6rem;
}

.intro-content{
    position: relative;
    /* top: -7rem; */
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 100vh;
}

.intro-text-content, .intro-img{
    display: flex;
    /*flex-flow: column nowrap;*/
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}
.intro-content h2{
    
    font-size: 10rem;
    margin-bottom: 8rem;
    text-transform: uppercase;
    line-height: 1.2;
}

.intro-img img,
.intro-img svg{ 
    padding-top: 20%;   
    max-width:100%;
    height: auto;
}

.top3-content{
    max-width: 80rem;
    display: flex;
    /*flex-flow: column wrap;*/
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.top3-content h2{
    font-size: 5rem;
    margin-bottom: 1rem;
}

.grid-one{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: 100vh;
}

.grid-main-heading{
    margin-bottom: 1rem;
    text-align: center;
}

.grid-description{
    padding-bottom: 5rem;
    text-align: center;
    font-weight: bold;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}

.grid h3{
    font-size: 3rem;
    font-family:'PT Serif', serif;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 3rem;
}

.grid h3::before{
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top: -4rem;
    left: -1rem;
    transform: rotate(5deg);
}

.grid p{
    font-size: 2.5rem;
} 

.gallery-img{
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

.gallery-img img{
    height: 35rem;
    transition: all 300ms ease-in-out;
}

.gallery-img img:hover{
   transform: scale(1.2) rotate(5deg);
}

.responsive-table{
    overflow: hidden;
    overflow-x: auto;
}

table{
    min-width: 36rem;
    width: 100%;
    border-collapse: collapse;
    background: white;
}

table caption{
    font-style: italic;
    font-size: 2.5rem;
    text-align: left;
    margin-bottom: 2rem;
}

tbody, table td, table th{
    white-space: nowrap;
    padding: 1rem;
    border: 0.1rem solid var(--gray-light-color);
    text-align: left;
}

tfoot td, table th{
    background: var(--gray-light-color);
}

td{
    font-family: Arial, Helvetica, sans-serif;
}

.contact-form{
    grid-column: span 2;
}

.contact-form .form-grid{
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}

.form-grid legend{
    font-style: italic;
    font-size: 3rem;
    margin-bottom: 3rem;
}

.form-group{
    flex: 1 1 32rem;
}

.form-group label{
    display: block;
    margin-bottom: 1rem;
}

.form-group input,
.form-group textarea{
    border: none;
    background: var(--white-color);
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 2rem;
    outline: none;
}

.form-group input:focus,
.form-group textarea:focus{
    box-shadow:0 0 1rem 0.2rem var(--crimson-color);
}

body .full-width{
    width: 100%;
    flex: 1 1 100%;
}

.form-group button{
    border: 0.5rem solid var(--white-color);
    background: none;
    color: var(--white-color);
    padding: 1.5rem 2rem;
    font-size: 2rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.form-group button:hover{
    border: 0.5rem solid var(--primary-color);
    background:none;
    color: var(--primary-color);
}

.form-group ::placeholder{
    color: var(--gray-light-color);
}

.footer{
    text-align: center;
    font-size: 1.6rem;
}

.footer a{
    color: var(--primary-color);
}

.heart{
    color: var(--crimson-color);
}

.footer p{
    margin: 0;
    padding: 1.5rem;
}

.close-menu{
 display: none;
}

.back-to-top{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: var(--white-color);
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--primary-color);
    transform: rotate(-90deg);
    border: 0.1rem solid var(--primary-color);
}

@media(max-width: 800px) {

    html{
        width: 100vw;

    }
    .intro-content, .grid{
        grid-template-columns: 1fr;
    }

    #logo{
        width: 120vh;
        
    }

    .intro-img{
        width: 140vw;
        height: 85vh;
    }
        
   h2{
     text-align: center;
     align-items: center;
   }


    p{
       text-align: center;
       font-size: 3rem;
   }

   #intro{
    width: 120vh;
    height: 220vh;
   }

  .top3-content .nosso-inicio{
       padding-left: 1rem;
       text-align: center;
       font-size: 7rem;
       margin-bottom: 10rem;
   }

   i{
       text-align: center;
       font-size: 3rem;
   }

   .intro-img{
    padding-left:10rem;
   }

   #top3{
       width: 120vh;
   }

   article{
       text-align: center;
   }
   
   .grid-main-heading{
       margin-top: 1rem;
   }

  .grid h3::before{
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top: -4rem;
    left: 13rem;
    transform: rotate(5deg);
  }

  .gallery-img{
    width: 180vw;
    padding-left: 5rem;
    max-width: 100%;
    max-height: 100%;
  }

  .gallery-img img{
    width: 100vh;
    height: auto;
  }

  .menu{
    bottom: 0;
    text-align: center;
  }

  .menu-content, .menu-content ul{
    flex-direction: column;
    justify-content: center;
  }

  .menu-content{
    height: 100vh;
  }

  .menu{
    display: none;
  }

  .close-menu-label::after{
    content: '≡';
    position: fixed;
    z-index: 3;
    top: 1rem;
    left: 2rem;
    background: var(--white-color);
    color: var(--primary-color);
    font-size: 4rem;
    line-height: 3rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    padding: 1rem;
    cursor: pointer;
  }
  .close-menu:checked~.menu{
    display: block;
    width: 100vw;
  }

  .close-menu:checked~.close-menu-label::after{
    content: '×';
  }

  .menu-spacing{
    display: none;
  }
  
  .main-bg{
    width: 120vw;
}

#pricing{
    width: 200vw;
}

#pricing .catalogo{
    margin-top: 2rem;
    font-size: 7rem;
}

#contato{
    width: 210vw;    
}
.contate-nos {
    padding-left: 5rem;
}

.contate-nos p{
    padding-left: 5rem;
}


.contact-form .form-grid{
    display:flex;
    flex-direction: column;
    content: 5rem;
}

.form-group input,
.form-group textarea{
    width: 180vw;
    font-size: 3rem;
    outline: none;
}

.form-group {
    flex: none;
  
}

.form-group label{
    display: block;
    margin-bottom: 1rem;
    font-size: 5rem;
}

.back-to-top{
    left: 59rem;
}

}
